html {
    overflow: scroll;
    overflow-x: hidden;
    clear: both;
}

body::-webkit-scrollbar {
	width: 4px;
    background: var(--gray-dark)!important;
}

body::-webkit-scrollbar-thumb {
	border-radius: 32px;
	background-color: var(--primary);
	outline: 1px solid var(--primary);
}

section {
    position: absolute;
    min-height: 90vh;
    width: calc(100% - 56px);
}

section div {
    width: auto;
}

.sec-hidden {
    visibility: hidden;
    opacity: 0;
    height: 0!important;
}

.sec-visible {
    opacity: 1;
    visibility: visible;
}

.sec-remove {
    visibility: collapse;
    height: 0;
}

.content-post {
    width: 100%;
    height: auto;
    object-fit: fill;
    display: block;
}

.hashtag-posts {
    display: block;
}

.selected {
    background: var(--primary)!important;
}